* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 30px;
}
body {
  width: 90%;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  background-color: #0d111d !important;
  text-align: center;
  vertical-align: middle;
}
.table-sm {
  padding: 0 !important;
  margin: 0 !important;
  text-transform: uppercase;
  width: 100% !important;
}
.Head {
  background: linear-gradient(
    to right,
    rgba(178, 129, 44, 1) 0,
    rgba(244, 222, 98, 1) 28%,
    rgba(244, 226, 139, 1) 51%,
    rgba(244, 222, 98, 1) 71%,
    rgba(178, 129, 44, 1) 100%
  );
  border-radius: 10px;
  border: 5px solid #dda52c;
  margin-bottom: 10px;
}
.Body {
  border-radius: 10px;
  border: 5px solid #dda52c;
  font-weight: 300 !important;
  font-family: cursive;
  color: white;
}
tr {
  width: 100%;
}
[id*="CR"] {
  width: 30%;
}
[id*="CN"] {
  width: 35%;
}
[id*="BR"] {
  width: 35%;
}
[id*="AR"] {
  width: 35%;
}
[id*="HL"] {
  font-size: 25px !important;
  color: #f4de63;
}
sup {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
}
.UP {
  color: rgb(2, 161, 2);
}
.UP_IMG {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
}
.DOWN {
  color: rgb(245, 84, 84);
}
.DOWN_IMG {
  object-fit: contain;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
}
@media screen and (max-width: 800px) {
  * {
    font-size: 25px;
  }
  [id*="HL"] {
    font-size: 20px !important;
  }
}
@media screen and (max-width: 580px) {
  * {
    font-size: 20px;
  }
  [id*="HL"] {
    font-size: 15px !important;
  }
}
@media screen and (max-width: 470px) {
  * {
    font-size: 15px;
  }
  [id*="HL"] {
    font-size: 10px !important;
  }
}
@media screen and (max-width: 360px) {
  * {
    font-size: 10px;
  }
  [id*="HL"] {
    font-size: 5px !important;
  }
}
